<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-row style="align-items: center; margin-top: 10px;">
        <ion-col size="auto" style="display: flex; align-items: center;">
          <ion-icon routerLink="/usuario" name="person-circle-outline" style="font-size: 2.5em; color: white;cursor: pointer;"></ion-icon>
        </ion-col>
        <ion-col style="font-size: 1.5em; color: white; font-weight: bold; display: flex; align-items: center;">
          Tu libreria
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let playlist of playlists" [routerLink]="['/playlist', playlist.id]">
      <ion-thumbnail slot="start">
        <img [src]="playlist.images[0].url" alt="Playlist Thumbnail">
      </ion-thumbnail>
      <ion-label>
        <h3>{{ playlist.name }}</h3>
        <p>{{ playlist.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
