<ion-header>
  <ion-toolbar color="dark">
    <ion-title class="white-text">Perfil de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-card>
    <ion-card-header>
      <div class="profile-image-container">
        <img src={{datos.webviewPath}} class="profile-image">
      </div>
      <ion-card-title class="white-text">Tu Nombre</ion-card-title>
      <ion-card-subtitle class="white-text">@usuario_spotify</ion-card-subtitle>
      <ion-button expand="block" color="primary" >Tomar Foto</ion-button>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-icon slot="start" name="mail" class="white-text"></ion-icon>
        <ion-label class="white-text">Correo Electrónico</ion-label>
        <ion-input value="tu_correo@example.com" readonly></ion-input>
      </ion-item>



      <ion-item>
        <ion-icon slot="start" name="musical-notes" class="white-text"></ion-icon>
        <ion-label class="white-text">Género Musical Favorito</ion-label>
        <ion-input value="Rock" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-button (click)="cerrarSesion()">Cerrar Sesion</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
