<ion-app>
  <ion-router-outlet ></ion-router-outlet>
  
  <ion-tabs *ngIf="show">
    <div class="custom-tab-bar">
      <ion-tab-button >
        
        <audio #audioPlayer [src]="url" (loadedmetadata)="onAudioLoaded($event)" controls></audio>
      </ion-tab-button>
    </div>
    <ion-tab-bar slot="bottom">
      <ion-tab-button routerLink="inicio">
        <ion-icon name="home-outline"></ion-icon>
        Inicio
      </ion-tab-button>
      <ion-tab-button routerLink="buscador">
        <ion-icon name="search"></ion-icon>
        Search
      </ion-tab-button>
      <ion-tab-button routerLink="libreria">
        <ion-icon name="library"></ion-icon>
        Library
      </ion-tab-button>
   
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
