<ion-app>
  <ion-router-outlet ></ion-router-outlet>
  
  <ion-tabs>
    <div class="custom-tab-bar">
      <!-- Nuevo tab -->
      <ion-tab-button tab="reproductor">
        <!-- <ion-icon ></ion-icon> -->
        <audio #audioPlayer [src]="url" (loadedmetadata)="onAudioLoaded($event)" controls></audio>
      </ion-tab-button>
    </div>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="inicio">
        <ion-icon name="play-circle"></ion-icon>
        Inicio
      </ion-tab-button>
      <ion-tab-button tab="buscador">
        <ion-icon name="search"></ion-icon>
        Search
      </ion-tab-button>
      <ion-tab-button tab="libreria">
        <ion-icon name="library"></ion-icon>
        Library
      </ion-tab-button>
   
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
