.playlist-header {
  position: relative;
  width: 300px; /* Ajusta el ancho deseado */
  height: 300px; /* Ajusta la altura deseada */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.playlist-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  margin: 0;
  background: black;
}



ion-avatar img {
    width: 48px;
    height: 48px;
  }
  
  ion-label h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 4px;
  }
  
  ion-label p {
    font-size: 14px;
    color: #888;
  }
  
  ion-item {
    --inner-padding-end: 10px;
    background-color: black;
  }
  
  ion-item ion-avatar {
    margin-inline-start: 10px;
  }
  
  .playlist-header {
    position: relative;
  }
  
  .playlist-header img {
    width: 100%;
    height: auto;
  }
  
  .playlist-details {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 16px;
    color: #000;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .playlist-details h1 {
    font-size: 24px;
    margin-bottom: 8px;
  }
  
  .playlist-details p {
    font-size: 16px;
  }
  
  .playlist-item {
    display: flex;
    align-items: center;
  }
  
  .playlist-item ion-thumbnail {
    --border-radius: 0;
    width: 56px;
    height: 56px;
    margin-right: 10px;
  }
  
  .playlist-item ion-label {
    display: flex;
    flex-direction: column;
  }
  
  .playlist-item h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 4px;
  }
  
  .playlist-item p {
    font-size: 14px;
    color: #888;
  }
.p{

  background-color: black;
}
