ion-title {
  text-align: center;
}

ion-searchbar {
  margin: 16px;
}

ion-list {
  margin: 16px;
}

ion-item {
  display: flex;
  align-items: center;
  padding: 8px;
}

ion-thumbnail {
  width: 56px;
  height: 56px;
}

h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
}

p {
  font-size: 14px;
  color: #888;
}
