<ion-header>
  <ion-toolbar>
    <ion-title>
      Spotify
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar></ion-searchbar>

  <ion-list>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="playlist-cover.jpg" alt="Playlist cover">
      </ion-thumbnail>
      <ion-label>
        <h2>Playlist Name</h2>
        <p>Curated by Artist Name</p>
      </ion-label>
    </ion-item>

    <!-- More playlist items here -->

  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="home"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="search"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
