.ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-container {
  display: flex;
  justify-content: center;
}
.hea{
   background-color: black !important   ;
}
ion-card {
  margin: 10px;
  width: 200px; /* Ajusta el ancho según tus necesidades */
  height: 200px; /* Ajusta la altura según tus necesidades */
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
